<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="InterfaceAplicationName">ProdInterface</Property>
        <Property name="log-path">/usr/tomcat/logs/APCB</Property>
    </Properties>
  
    <Appenders>
        <RollingFile name="file-log-Interface" fileName="${log-path}/${InterfaceAplicationName}/trace.log"
            filePattern="${log-path}/${InterfaceAplicationName}/trace.%d{yyyy-MM-dd}.log">
            <PatternLayout>  
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %X{sessionId} %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
        
        <RollingFile name="file-log-all" fileName="${log-path}/ProdAllTrace.log"
            filePattern="${log-path}/allTrace.%d{yyyy-MM-dd}.log">
            <PatternLayout>  
                <pattern>[%-5level] ${InterfaceAplicationName} %d{yyyy-MM-dd HH:mm:ss.SSS} %X{sessionId} %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
        
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] ${InterfaceAplicationName} %d{yyyy-MM-dd HH:mm:ss.SSS} %X{sessionId} %c{1} - %msg%n"/>
        </Console>
        
    </Appenders>
    <Loggers>
        <Logger name="com.apcb" level="info" additivity="false">
            <appender-ref ref="file-log-Interface" level="info"/>
            <appender-ref ref="file-log-all" level="info"/>
        </Logger>
        
        <Root level="info" additivity="false">
            <AppenderRef ref="console"/>
        </Root>

    </Loggers>
</Configuration>
